.blyrics-modal-overlay {
    background-color: rgba(0, 0, 0, .25);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: .2s;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.blyrics-modal {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: var(--blyrics-small-border-radius);
    background: rgb(35, 35, 35);
    padding: 2rem;
    gap: 1rem;
}

.blyrics-modal--header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.blyrics-modal--title {
    font-size: 2.5rem;
}

.blyrics-modal--close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: hsla(0, 0%, 100%, .0);
    padding: .5rem;
    transition: background .1s;
    border-radius: 1rem;
}

.blyrics-modal--close:hover {
    background: hsla(0, 0%, 100%, .15);
}

.blyrics-modal--info {
    font-size: 1.5rem;
}

.blyrics-modal--radio {
    display: flex;
    flex-direction: row;
    gap: .6rem;
    font-size: 1.25rem;
    align-items: center;
}

.blyrics-modal--radio-button {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1px;
    background: none;
    border-radius: 1000rem;
    border: 2px solid white;
    width: 16px;
    height: 16px;
}

.blyrics-modal--radio-fill {
    border-radius: 1000rem;
    background: white;
    transition: .2s;
}

.blyrics-modal--radio.blyrics-radio-selected > .blyrics-modal--radio-fill {
    width: 14px;
    height: 14px;
}

.blyrics-modal--radio-content {
    font-size: 16px;
}

.blyrics-modal--details {
    border: none;
    background: none;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
    color: white;
    font-family: var(--blyrics-footer-font-family);
    font-size: medium;
    outline: none;
}

.blyrics-modal--footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
}

.blyrics-modal--button {
    font-family: var(--blyrics-footer-font-family);
    border: none;
    background: hsla(0, 0%, 100%, .0);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    color: white;
    transition: background .1s;
}

.blyrics-modal--button:hover {
    background: hsla(0, 0%, 100%, .15);
}